*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    padding: 4rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,200px);
    gap: 0.4rem;
}
.item{
    height: 200px;
    width: 200px;
    background-color: #94bbe9;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self:;
}